{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-conten padding-y bg">
        <div class="container">
            <div class="row">

                <main class="col-md-9-del">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Who are we?</strong>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <center><p>We are a group of highly motivated members. Our goal is to educate people about
                                        the positive effects of Cannabinoid (CBD).</p></center>
                                    <p style="text-align: center">Let us introduce you to the core of our team:</p>
                                    <center><img src="{% static 'images/dr-drenski.jpg' %}" alt="Doctor Drenski"
                                                 class="center"></center>
                                    <p style="text-align: center"><b>Doctor Svetozar Drenski</b></p>
                                    <div class="text-center">
                                        <h4>Biography</h4>
                                        <p>
                                            "Dr. Svetozar Drenski is a specialist dermatologist in Sofia with over 25 years of experience. Performs examinations, consultations and diagnostics of patients with skin and venereal diseases of various nature. His interests are mainly focused on the treatment of rosacea and vitiligo.
                                            He graduated from the Medical University of Sofia in 1992 and obtained a specialty in Dermatology and Venereology after specialization at the Clinic of Prof. Stoyan Tonev at the Sofia Military Medical Academy.

                                            Additional qualifications
                                            Participation in numerous national congresses and seminars on the specialty.
                                            From 1997 to the present, Dr. Drenski has an independent practice as a specialist dermatologist in Sofia. In addition to dermatology, since 1995 he has been engaged in the import of medical cosmetics and nutritional supplements."
                                        </p>
                                    </div>
                                </div>

                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->

                    </article><!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>


{% endblock %}
