{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-conten padding-y bg">
        <div class="container">
            <div class="row">

                <main class="col-md-9-del">
                    <article class="card">
                        <header class="card-header">
{#                            <strong class="d-inline-block mr-3">Who are we?</strong>#}
                            <h1>Who are we?</h1>
                        </header>
                        <div class="layer tiny">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm col-md-10 col-lg-8">
                                        <div class="doctor-connection">
                                            <div class="text-center">
                                                <p>We are a group of highly motivated members. Our goal is to educate
                                                    people about
                                                    the positive effects of Cannabinoid (CBD).</p>
                                                <p style="text-align: center"><b>Let us introduce you to the core of our
                                                    team:</b></p>
                                                <img src="{% static 'images/dr-drenski.jpg' %}" alt="Doctor Drenski"
                                                     class="center">
                                            </div>
                                            <h4>Biography</h4>
                                            <p>
                                                Dr. Svetozar Drenski is a specialist dermatologist in Sofia with over 25
                                                years of experience. Performs examinations, consultations and
                                                diagnostics of patients with skin and venereal diseases of various
                                                nature. His interests are mainly focused on the treatment of rosacea and
                                                vitiligo.
                                                He graduated from the Medical University of Sofia in 1992 and obtained a
                                                specialty in Dermatology and Venereology after specialization at the
                                                Clinic of Prof. Stoyan Tonev at the Sofia Military Medical Academy.

                                                Additional qualifications
                                                Participation in numerous national congresses and seminars on the
                                                specialty.
                                                From 1997 to the present, Dr. Drenski has an independent practice as a
                                                specialist dermatologist in Sofia. In addition to dermatology, since
                                                1995 he has been engaged in the import of medical cosmetics and
                                                nutritional supplements.
                                            </p>
                                        </div>
                                        <br>
                                        <div class="denis-connection">
                                            <div class="text-center">
                                                <p style="text-align: center"><b>And here is another representative of our team:</b></p>
                                                <img src="{% static 'images/denis-bechiragich.jpg' %}" alt="Denis Bechiragich" style="height: 300px"
                                                     class="center">
                                            </div>
                                            <h4>Biography</h4>
                                            <p>
                                                Denis Bechiragich is a 25-year-old Software Developer and entrepreneur from Montenegro.
                                                He was born in the Balkans and has spent most of his life in Bulgaria.
                                                After completing high school, Denis pursued opportunities abroad and worked and studied in Vienna, Austria.
                                                During his time in Vienna, Denis held various positions in the hospitality industry,

                                                eventually becoming a supervisor at the Moxy Hotel at the Vienna International Airport.
                                                However, he realized that his true passion lay in programming, and decided to pursue a career in that field.

                                                In addition to his work as a Software Developer and his occasional lectures at a university, Denis also has a successful business venture.
                                                He saw a market opportunity in the growing CBD industry while living in Vienna, and decided to bring his vision back to Bulgaria.
                                                In August 2022, he and his parents opened the first physical CBD shop in their hometown of Plovdiv.
                                                Denis is dedicated to helping others improve their quality of life through the use of CBD products.
                                                A fun fact: this website is created by him for a Software Academy where he studied as his final project.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article><!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>


{% endblock %}
