{% extends 'base.html' %}

{% block content %}
    <section class="section-conten padding-y bg">
        <div class="container">
            <div class="row">

                <main class="col-md-9-del">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Who are we?</strong>
                            <p>We are a group of highly motivated members. Our goal is to educate people about the positive effects of Cannabinoid (CBD).</p>

                        </header>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">

                                </div>

                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->

                    </article><!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>


{% endblock %}
